import { MigrationCommand } from "../migration.command";

export const name = '{{migrationName}}';
export const up = async (migrationCommand: MigrationCommand) => {
  console.log('migrate {{migrationName}}: {{fileName}}');
};