<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lecture 10</title>
  </head>
  <body>
    <div class="root">
      <ul>
        <li><a href="christmas">Counter Christmas</a></li>
        <li><a href="nodejsfresher">nodejstest</a></li>
        <li><a href="about">about</a></li>
        <li><a href="nodejstest">nodejstest</a></li>
      </ul>
    </div>
  </body>
</html>
